*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: seriff;
}
li{
    list-style: none;
}
header{
    padding: 10px 3rem;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
    color: #333;
    font-size: 15px;
    padding: 10px;
}
.waitlist{
    color: #fff;
    font-size: 14px;
    padding: 10px;
    background-color: rgba(71, 4, 72, 0.87);
    border-radius: 4px;
}
.hamburger{
    display: none;
}
@media(max-width:663px) {
    header{
        padding: 15px;
    }

}
@media(max-width:595px) {
    nav ul{
display: none;
    }
    nav .hamburger{
        display: block;
    }
}

/*----main----section----*/

.main-section{
    padding-top: 20px;
display: flex;
align-items: center;
justify-content: space-around;
}
.ads{
    padding: 5px 10px;
    background-color: rgba(71, 4, 72, 0.87);
    color: #ccc;
    font-size: 13px;
    display: inline-block;
    border-radius: 45px;
}
.ads a{
    color: #fff;
}
h1.title{
    line-height: 1.5;
    margin-top: 15px;
    font-size: 28px;
    color:  rgba(71, 4, 72, 0.87);
}
.commune-detail{
    line-height: 1.4;
    color: #333;
    margin: 0px 0;
}
.newsletter input{
padding: 10px 15px;
border-radius: 4px;
border: none;
box-shadow: 1px 1px #ccc, -1px -1px #ccc;
}
.newsletter{
    margin: 10px 0;
}
.newsletter button{
    border: none;
    cursor: pointer;
}
.main-section .left{
    width: 55%;
}
.left .title{
    width: 90%;
}
.illu{
    width: 270px;
    max-width: 100%;
}

@media(max-width:730px) {
    .main-section .illu{
        display: none;
    }
    h1.title{
        width: 100%;
    }
    .main-section .left{
        text-align: center;
    }
}
@media(max-width:545px) {
    .newsletter button{
        width: 100%;
    }
    .newsletter input{
        width: 100%;
        margin-bottom: 10px;
    }
    footer{
        text-align: center;
        margin-top: 20px;
    }
}


/*--------footer-------*/
.companies img{
    width: 40px;
    border-radius: 50%;
}
footer p{
    color: #777777;
}
footer{
    padding: 0 40px;
}